* {
  box-sizing: border-box;
  color: #2d3945;
  font-family: "Merriweather", sans-serif;
  margin: 0px;
}

header h1 {
  border: 2px solid black;
  background-color: #2d3945;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6em;
  padding: 1em;
  margin: 0 0;
}
header h2 {
  text-align: center;
  font-size: 23px;
  padding: 0.5em;
}

header p {
  text-align: center;
  padding: 10px;
  margin-bottom: 1em;
}

.first_separation {
  border-top: 7px solid #2d3945;
  margin-bottom: 0;
}

.second_separation,
.thrid_separation {
  border-top: 3px solid #2d3945;
}

.second_separation {
  margin-top: 0;
}
.flex_pair {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: #eeede7;
}
.contact_info {
  margin-top: 20px;
}
label {
  padding: 20px 0;
}

.contact_info input {
  height: 50px;
  margin-bottom: 10px;
}

div {
  position: relative;
}

#zip {
  max-width: 50%;
}

input,
textarea {
  border: 1px solid #868b8e;
  background-color: #eff0f1;
  padding: 1.5em;
  border-radius: 4px;
  transition: background-color 1s ease-in-out;
  
 }
 

  }

::placeholder {
  text-align: right;
  transition: 0.28s;
}

input:focus,
textarea:focus {
  background: floralwhite;
}

legend {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  padding: 20px;
}
fieldset p {
  margin-bottom: 20px;
}
#html_format {
  margin-top: 15px;
}

.newsletter_format {
  margin-top: 2em;
  margin-bottom: 0;
}

textarea {
  margin-top: 1em;
}

.box_container,
.radio {
  position: relative;
}

.submit {
  border: 1px solid white;
  background-color: #4ebbb5;
  color: white;
  font-size: 1.5em;
  margin: 1em auto;
  padding: 1em 2em;
  font-weight: bold;
  border-radius: 0.5em;
  text-align: center;
  width: 100%;
}

footer {
  text-align: center;
  font-size: 1em;
  text-transform: capitalize;
  padding: 1.5em;
}

@media (min-width: 768px) {
  .flex_pair {
    flex-direction: row;
  }

  input {
    flex-grow: 1;
    flex-basis: 75%;
    margin-top: 20px;
  }

  label {
    flex-basis: 25%;
    margin: auto 0;
    height: 50px;
  }
  #zip {
    width: 50%;
  }

  .topics_wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
}
